<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<header class="header">
    <div class="container">
        <div class="col-4" style="margin-left: 70px;">
            <img src="../assets/LOGO_IKOMI.png" alt="Logo Ikomi" class="logo">
        </div>
        <div class="col-8 links" style="margin-right: 70px;">
            <a href="#"><i class="fas fa-home"></i> Home</a>
            <a href="#"><i class="fas fa-users"></i> Nosotros</a>
            <a href="#"><i class="fas fa-cogs"></i> Servicios</a>
            <a href="#"><i class="fas fa-cube"></i> Producto</a>
            <a href="#"><i class="fas fa-tags"></i> Marcas</a>
            <a href="#"><i class="fas fa-envelope"></i> Contáctenos</a>
        </div>
    </div>
</header>