<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<div class="container" style="margin-top: 150px;">
  <div class="column">
    <h1 style="font-weight: bold;color: beige;">IKOMI PERU</h1>
    <h4 style="color: beige;">Empresa importadora y comercializadora de repuestos para todo tipo de vehículos con calidad y a precios de mercado</h4>
    <div class="small-squares">
      <div class="small-square"><i class="fab fa-twitter"></i></div>
      <div class="small-square"><i class="fab fa-facebook-f"></i></div>
      <div class="small-square"><i class="fab fa-instagram"></i></div>
      <div class="small-square"><i class="fab fa-skype"></i></div>
      <div class="small-square"><i class="fab fa-linkedin-in"></i></div>
    </div>
  </div>
  <div class="column">
    <div class="rectangle">
      <i class="fas fa-map-marker-alt icon"></i>
      <div class="icon-text">
        <p>Ubicación</p>
        <p>Avenida Nicolas Ayllon 5364</p>
        <p>Carretera Central - Paradero Rayovac</p>
        <p>Lima - Ate</p>
      </div>
    </div>
    <div class="sub-container">
      <div class="square" style="margin-right: 10px;">
        <i class="fas fa-envelope icon"></i>
        <div class="icon-text">
          <p>Correo</p>
          <p>ventas&#64;ikomiperu.com</p>
          <p>ventas&#64;ikomiperu.com</p>
        </div>
      </div>
      <div class="square" style="margin-left: 10px;">
        <i class="fas fa-phone-alt icon"></i>
        <div class="icon-text">
          <p>Teléfonos</p>
          <p>985 068 416</p>
          <p>981 453 306</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h1 style="font-weight: bold;color: beige;">Links</h1>
    <div class="links">
      <a href="#"><i class="fas fa-home link-icon"></i> Home</a>
      <a href="#"><i class="fas fa-users link-icon"></i> Nosotros</a>
      <a href="#"><i class="fas fa-cogs link-icon"></i> Servicios</a>
      <a href="#"><i class="fas fa-cube link-icon"></i> Producto</a>
      <a href="#"><i class="fas fa-tags link-icon"></i> Marcas</a>
      <a href="#"><i class="fas fa-envelope link-icon"></i> Contáctenos</a>
    </div>
  </div>
</div>
<footer class="footer">
  <p> Copyright <i class="fas fa-copyrigth link-icon"></i> <a href="https://www.ikomiperu.com">Grupo IKOMI PERU</a> </p>
</footer>
