<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<div class="home">
    <div class="overlay"></div>
    <img src="../assets/hero-bg.png" alt="" style="width: 100%;">
    <h1 class="text-overlay">
        <span class="large-text">REPUESTOS EN GENERAL</span><br>
        para camiones de todas las<br>
        marcas.<br>
        <span class="small-text">Somos una empresa importadora de repuestos</span>
    </h1>
</div>

<div class="cards-container" style="margin-top: 150px;">
    <div class="card">
        <div class="dark-rectangle">
            <h3 class="white-text">Equipo</h3>
        </div>
        <div class="square"><img src="../assets/nosotros.jpg" style="width: 100%;height: 100%;" alt=""></div>
    </div>
    <div class="card">
        <div class="dark-rectangle">
            <h3 class="white-text">Almacen</h3>
        </div>
        <div class="square"><img src="../assets/img-prueba.jpg" style="width: 100%;height: 100%;" alt=""></div>
    </div>
    <div class="card">
        <div class="dark-rectangle">
            <h3 class="white-text">Tienda</h3>
        </div>
        <div class="square"><img src="../assets/entrada.jpg" style="width: 100%;height: 100%;" alt=""></div>
    </div>
    <div class="card">
        <div class="dark-rectangle">
            <h3 class="white-text">Empresa</h3>
        </div>
        <div class="square"><img src="../assets/empresa.jpg" style="width: 100%;height: 100%;" alt=""></div>
    </div>
</div>

<div class="info-container">
    <h1 class="section-title">SERVICIOS</h1>
    <div class="red-line"></div>
    <h3 class="section-subtitle">Estamos listos para atenderte.</h3>
    <div class="services-columns">
        <div class="column">
            <div class="service-box">
                <i class="fas fa-file-alt icon"></i>
                <h3>Ventas</h3>
                <p>Venta de los mejores repuestos de partes de motor, cajas, transmisiones, piñones, coronas y trenes fijos de las marcas de Korea y Japón. A los mejores precios del mercado.</p>
            </div>
            <div class="service-box">
                <i class="fas fa-images icon"></i>
                <h3>Delivery</h3>
                <p>Compras sin salir de casa, realizamos entregas a domicilio en el menor tiempo posible.</p>
            </div>
        </div>
        <div class="column">
            <div class="service-box">
                <i class="fas fa-cube icon"></i>
                <h3>Asesoría</h3>
                <p>Le brindamos una asesoría personalizada acerca de nuestros productos, a elegir el mejor repuesto para su movilidad.</p>
            </div>
            <div class="service-box">
                <i class="fas fa-shield-alt icon"></i>
                <h3>Productos</h3>
                <p>Contamos con las mejores marcas y calidad de productos del mercado.</p>
            </div>
        </div>
    </div>
</div>

<div class="info-container">
    <h1 class="section-title">MARCAS</h1>
    <div class="red-line"></div>
    <h3 class="section-subtitle small">Contamos con las marcas más reconocidas en el mercado nacional e internacional especializadas en la fabricación de repuestos para vehículos con altos estándares de calidad.</h3>
    <div class="services-columns">
        <div class="column">
            <div class="service-box white">
                <img src="../assets/marcas/sangsin2-1-768x156.png" alt="" style="width: 40%;">
                <p>Fabricante lider en la industria Coreana de piezas y partes para frenos de fricción, cuenta con más de 6 plantas a nivel mundial. Sangsin está equipado con las mejores tecnologías originales globalmente apreciadas y es suplidor OEM para Hyundai, Kia, GM Daewoo, SSangyong y Renault Samsung. Sangsin está equipado con las mejores tecnologías originales globalmente apreciadas y es suplidor OEM para Hyundai, Kia, GM Daewoo, SSangyong y Renault Samsung.</p>
            </div>
            <div class="service-box white">
                <img src="../assets/marcas/TCIC-e1646945558616.png" alt="" style="width: 40%;">
                <p>Tae Chul Industrial Co. fabricante de piezas de automóviles con más de 70 años de experiencia en la producción de bombas y bombines de freno y embrague de la mejor calidad. Cuenta con 5 plantas en Asia.</p>
            </div>
        </div>
        <div class="column">
            <div class="service-box white">
                <img src="../assets/marcas/HANSANG-26032-768x248.png" alt="" style="width: 40%;">
                <p>La marca HANSANG maneja una amplia gama de repuestos de parte de caja como son: Piñón y corona, Deslizante, Piñones, Trenfijo, Satélites, Planetarios, Propulsor, Bronces, etc.</p>
            </div>
            <div class="service-box white">
                <img src="../assets/marcas/valeo-1-e1646949714959.jpg" alt="" style="width: 40%;">
                <p>Valeo Pyeong Hwa International es una compañía que cuenta con más de 90 años de creación y se ha convertido en socio de los principales fabricantes de automóviles, con operaciones en 33 países, diseñando tecnologías y sistemas innovadores para que los futuros automóviles sean más intuitivos, autónomos y amigables con el medio ambiente.</p>
            </div>
        </div>
        <div class="column">
            <div class="service-box white">
                <img src="../assets/marcas/mando2-1-768x208.png" alt="" style="width: 40%;">
                <p>Mando Corporation pertenece al grupo Halla Holding y cuenta con 20 fabricas en el mundo, 16 centros de investigación y con más de 11,000 trabajadores. La visión de Mando Corporation es crear productos seguros, ecológicos y de fácil uso.</p>
            </div>
            <div class="service-box white">
                <img src="../assets/marcas/YULIM-1-768x236.png" alt="" style="width: 40%;">
                <p>Establecida en 1998, Yulim High-Tech ha crecido como una de las compañías líderes de la industria del automóvil en Corea. Produce y exporta piezas para sistemas de suspensión y dirección.</p>
            </div>
        </div>
    </div>
</div>

<div class="info-container no-bg">
    <h1 class="section-title black-text">CONTACTENOS</h1>
    <div class="red-line"></div>
    <h3 class="section-subtitle black-text">Llene el formulario y un asesor se pondrá en contacto lo más pronto posible.</h3>
    <div class="contact-columns">
        <div class="column">
            <div style="width: 100%">
                <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Av.%20Nicol%C3%A1s%20Ayll%C3%B3n%203384,%20Ate%2015012+(My%20Business%20Name)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                    <a href="https://www.gps.ie/">gps devices</a>
                </iframe>
            </div>
        </div>
        <div class="column">
            <form class="contact-form">
                <input type="text" placeholder="Apellidos y Nombres">
                <input type="text" placeholder="Teléfono">
                <input type="email" placeholder="Correo">
                <input type="text" placeholder="Asunto">
                <textarea placeholder="Mensaje" style="height: 200px;"></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>
